  /* Estilos para el navbar */
  .navbar a {
    color: #69457B;
    font-weight: 500;
  }
  .logo{
    width: 35vh;
}
.form-select {
    border: none;
    background-color: transparent;
}
.title{
    text-align: center;
    color: #69457B;
    margin-top: 3%;
}
.cartografia {
    width: 100%;
    margin: 3% 0%;
}
.podcast{
  text-align: center;
  width: 100%;
}
p{
  text-align: justify;
}
.container-proyect{
  text-align: center;
}